{% extends 'base.html.twig' %}
{% block title %}
    Create
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('navbar') }}
    {{ encore_entry_link_tags('create_wrapper') }}
{% endblock %}
{% block body %}
    <div id="root">
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        let layoutData = {
            pageHash: '{{ page_hash }}',
            pageBody: '{{ page_body|raw }}',
            pageStructure: JSON.parse('{{ page_structure|raw }}')
        };
    </script>
    {{ encore_entry_script_tags('create') }}
{% endblock %}