{% extends 'base.html.twig' %}
{% block title %}
    Browse Themes
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('navbar') }}
    {{ encore_entry_link_tags('show_theme_wrapper') }}
{% endblock %}
{% block body %}
    <div id="root">
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        let layoutData = {
            themeId: '{{ theme.id }}',
            themeName: '{{ theme.name }}',
            themeDescription: '{{ theme.description }}',
            isMyTheme: '{{ isMyTheme }}',
            themeAuthor: '{{ theme.user_name }}'
        }
        layoutData.pages = [];
        {% for page in theme.page_ids %}
        layoutData.pages.push({{ page }});
        {% endfor %}
    </script>
    {{ encore_entry_script_tags('theme') }}
{% endblock %}
