{% extends 'base.html.twig' %}
{% block title %}
    Sign
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('navbar') }}
    {{ encore_entry_link_tags('signpage_wrapper') }}
{% endblock %}
{% block body %}
    <div id="root">
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var layoutData = {
            loginPath: '{{ path('login') }}',
            registerPath: '{{ path('register') }}'
        };
    </script>
    {{ encore_entry_script_tags('sign') }}
{% endblock %}